@{
    ViewBag.Title = "Home Page";
}

<body>

    

    @*<img class="bg" src="~/fonts/l4.jpg" alt="Örnek Resim" />*@

</body>






<style>

    body, html {
        height: 100%;
    }

    .bg {
        /* The image used */
       
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>