@using sirket.Models.Entity;

@model List<marka_kategori>
@{
    ViewBag.Title = "MarkaKategoriEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>MarkaKategoriEkle</h2>

<form class="form-group" method="post">

    @*<div>
            <label>Marka Id </label>
            <input type="text" class="form-control" name="marka_id" required="" />
        </div>*@

    <div>
        <label>Marka Ad </label>
        <input type="text" class="form-control" name="marka_ad" required="" />
    </div>


    @*<br />
        <div style="margin-top:20px">
            <button class="btn btn-info">Kategori Ekle</button>
        </div>*@
    <button href="~/MarkaKategori/Index" class="btn btn-info">Kategori Ekle</button>

   

</form>